body {
    background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size:contain;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% auto 24.5%;
  grid-template-rows: 16% auto 25%;
  margin: auto;
}

#canvas {
  background-color: #FFFCF5;
  height: 100%;
  width: 100%;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  z-index: 10;
}

#drawer {
  position:fixed;
  background-image:url("images/image.png");
  height:700px;
  width:410px;
  right:0;
  top:10vh;
  grid-area:1/3/3/3;
  transform: translateX(70vw);
  transition:3s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  flex-flow:column wrap;
}

.drawer-open #drawer{
  transform: translateX(0vw);
  transition:3.0s;
}

.brushes img.active{
  transform:scale(1.1);
  border: 3px solid #FFFFFF;
  border-radius:100%;
}

#tools{
  grid-area:3/2;
  padding:10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#draweropener{
  grid-area:1/3;
  align-items: center;
  display:flex;
  justify-content:center;
}

#draweropener img{
border: 3px solid #ffffff;
border-radius: 50%;
box-shadow:0 2px 6px rgba( 0,0,0,0.25 );
}

#quads{
  grid-area:3/3;
  align-items: center;
  display:flex;
  justify-content:center;
}

#quads img{
  border: 3px solid #000000;
  border-radius:50%;
  box-shadow:0 2px 6px rgba( 0,0,0,0.25 );
  opacity:0;
}

#quads img.active{
  border: 3px solid red;
}

.drawer-open #quads img{
 opacity:1;
 transition:2.0s;
}

.drawer-open #draweropener img{
  border:4px solid red;
}

.tools img.disabled {
  opacity: 0.5;
  pointer-events: none;
 }
 

