body {
    background-image: url(images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    height: 90vh;
	width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#app {
  width: 1140px;
  height: 675px;
  position: relative;
  top: -33px;
  left:-45px;

}

#notebook {
	width: 1150px;
	height: auto;
}